nav #incomplete {
  color: white;
}

nav #completed {
  /* color: #094067; */
  color: white;
}

.no-tasks {
  color: #ef4565;
  margin-left: 40px;
  margin-top: 30px;
}

.addNewTask {
  /* background-color: #5f6c7b; */
  /* height: 50px; */
  /* display: table-cell;
  vertical-align: middle; */
  margin-top: 30px;
  margin-left: 30px;
}

.addNewTask input {
  border: #5f6c7b;
  border-radius: 4px;
}

.inputNewTask {
  width: 680px;
  height: 35px;
  margin-left: 10px;
  padding-left: 8px;
  background-color: #5f6c7b;
  color: white;
}

.inputNewTask::placeholder {
  color: white;
}

.submitNewTask {
  width: 120px;
  background-color: #ef4565;
  color: white;
  height: 37px;
  margin-left: 10px;
}

#taskList {
  padding-inline-start: 0;
  list-style-type: none;
  margin-left: 13px;
}

#taskList div {
  display: flex;
  margin-top: 2.5%;
}

#taskList div li {
  flex: 8;
  font-size: 17px;
}

#taskList svg {
  cursor: pointer;
}

#taskList #task-checkbox {
  flex: 1;
}

#taskList #task-checkbox:hover {
  fill: #3da9fc;
}

#taskList #task-trash {
  flex: 2;
}

#taskList #task-trash:hover {
  fill: #ef4565;
}
