nav {
  display: flex;
  height: 30px;
  background-color: #3da9fc;
  padding: 1%;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav p {
  flex: 8;
  color: white;
  margin: 0;
  line-height: 30px;
  font-weight: bold;
  margin-left: 5px;
}

nav a {
  text-decoration: none;
  line-height: 30px;
}

nav #incomplete {
  flex: 1;
}

nav #completed {
  margin-right: 10px;
  margin-left: 25px;
  flex: 1;
}
